@CHARSET "UTF-8";

body {
	padding-top: 60px;
	text-align: justify;
}

.smallCols {
	width: 70px;
	border-right: 1px solid #DDDDDD;
}

.footer {
	border-top: 1px solid #E5E5E5;
	margin-top: 45px;
	padding: 35px 0 36px;
}

.competences {
	background-color: #CCCCCC;
	padding: 10px;
	border-radius: 10px 10px 10px 10px
	line-height: 40px;
	font-size: 12px;
}

.competences b {
	font-size: 16px;
}

.experience {
	background-color: #EEEEEE;
    border-radius: 6px 6px 6px 6px;
    border:1px solid #BBBBBB;
    padding:20px;
    margin-bottom:20px;
}

.experience strong {
	font-size: 15px;
}

.experience dl {
	margin-bottom: 0px;
}