
## contrôle du cache navigateur - Expire headers
#<IfModule mod_expires.c>
#ExpiresActive On
#ExpiresDefault "access plus 1209600 seconds"
#ExpiresByType image/png "access plus 1209600 seconds"
#ExpiresByType text/css "access plus 1209600 seconds"
#ExpiresByType text/javascript "access plus 1209600 seconds"
#ExpiresByType text/html "access plus 86400 seconds"
#</IfModule>

#<IfModule mod_headers.c>
#<FilesMatch "\\.(ico|jpe?g|png|gif|swf)$">
#Header set Cache-Control "max-age=2592000, public"
#</FilesMatch>
#<FilesMatch "\\.(css)$">
#Header set Cache-Control "max-age=604800, public"
#</FilesMatch>
#<FilesMatch "\\.(js)$">
#Header set Cache-Control "max-age=216000, private"
#</FilesMatch>
#<FilesMatch "\\.(x?html?|php)$">
#Header set Cache-Control "max-age=86400, private, must-revalidate"
#</FilesMatch>
#</IfModule>

## Desactive les cookies
#Header unset Set-Cookie

## desactive les Etag
#Header unset ETag
#FileETag none
